{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-md bg_modif m-2"><ion-icon name="save-outline"></ion-icon><br>{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
