{% extends 'base.html.twig' %}

{% block title %}Edit Role{% endblock %}

{% block body %}
    <h1>Edit Role</h1>

    {{ include('role/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-md bg_affich m-2" href="{{ path('app_role_index') }}"><ion-icon name="return-down-back-outline"></ion-icon><br>back to list</a>

    {{ include('role/_delete_form.html.twig') }}
{% endblock %}
