{% extends "base.html.twig" %}
{% block title %}Client{% endblock %}
{% block body %}
<div class="m-auto w50 my-a ">
<h1 class="titre text-light" >SAISIE CLIENT</h1>
{{form_start(form)}}
{{form_widget(form)}}
<div class="div-btn">
<a href="/client" class="btn btn-sm bg_affich my-4">Retour à la liste<br><ion-icon name="return-down-back-outline"></ion-icon> </a>
    <input type="submit" class="btn btn-md bg_modif my-4" value="Enregistrer">
</div>

{{form_end(form)}}

</div>


{% endblock %}